:root { 
    --infoStay: 10s;
} 
html {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    font-family: 'Square Font';
}
#grid, #main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 90vmin;
    height: 86vh;
    z-index: 1;
}
#game {
    display: none;
}
/* Main */
    #main {
        display: block;
        background-color: rgba(32, 136, 32, 0.767);
        background-image: url(img/background2.jpg);
        background-size: cover;
        text-align: center;
        border-radius: 20px;
        border: 4px solid rgb(8, 2, 66);
        box-sizing: border-box;
        animation-duration: 1s;
        animation-name: mainGame;
        animation-iteration-count: infinite;
        line-height: 86vh;
    }
    #title {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }
    h1, h2 {
        margin: 0;
        color: white;
    }
    h1 {
        font-size: 75px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        background-color: rgb(25, 0, 255);
        height: 50px;
        width: 200px;
        margin: 20px;
        padding: 10px;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Square Font';
        animation-duration: 0.7s;
        animation-name: playButton;
        animation-iteration-count: infinite;
    }
    button:hover {
        animation-name: none;
    }
/* For Information Popup */
    #info {
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        position: fixed;
        background-color: rgb(0, 41, 65);
        width: 90vmin;
        z-index: 8;
        padding: 30px;
        font-size: 3.5vmin;
        border-radius: 20px;
        text-align: center;
        border: 2px solid black;
        color: white;
    }
    #info-title {
        font-size: 4vmin
    }
    .infoShow {
        animation-name: infoShow;
        animation-duration: var(--infoStay);
        animation-delay: 0.5s;
    }
/* For Table */
    #table {
        background-color: rgba(28, 40, 110, 0.932);
        z-index: 10;
        position: fixed;
        border-radius: 20px;
        max-width: 100vmin;
        padding: 15px;
        font-size: 2.5vmin;
        color: white;
    }
    #table-icon {
        height: 30px;
        width: 30px;
    }
    #table-info {
        display: block;
        max-width: 0em;
        max-height: 0em;
        opacity:0;
        transition: max-width 0.5s, opacity 0.1s, max-height 0.5s;
        overflow: hidden;
        /* display: none; */
    }
    #table:hover > #table-info {
        opacity: 1;
        overflow: hidden;
        max-width: 100vmin;
        max-height: 100vh;
        /* display: block; */
    }
    td {
        color: rgba(255, 166, 0, 0);
        opacity: 0
    }
    th, td {
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        padding: 5px;
        text-align: center;
    }
    u {
        color: rgb(255, 217, 2)
    }
/* For Flipping the Card */
    .cards {
        perspective: 1000px;
        display: inline-block;
        height: 20%;
        width: 20%;
        background-position: center;
        background-size: 65%;
        background-repeat: no-repeat;
        border: 1px solid black;
        border-radius: 10px;
        box-sizing: border-box;
        background-size: 100%;
        z-index: 1;
        font-size: large;
        opacity: 1;
        transition: opacity .5s;
    }
    .cardInner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .flipping .cardInner{
        transform: rotateY(180deg);
    }
    .cardFront, .cardBack{
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cardFront {
        background-color: rgb(14, 87, 87);
        color: rgb(255, 255, 255);
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .cardBack{
        background-color: #03243a;
        color: white;
        transform: rotateY(180deg);
        background-size: cover;
    }
    .hidden {
        opacity: 0;
    }
/* Single Blocks */
    #blocker {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: none;
    z-index: 9;
}
/* Key Frames */
    @keyframes infoShow {
        from    { left: -50% }
        5%      { left: 50% }
        85%     { left: 50% }
        to      { left: 150% }
    }
    @keyframes mainGame {
        from    { border: 4px solid rgb(8, 2, 66); }
        50%     { border: 4px solid rgb(84, 98, 117); }
        from    { border: 4px solid rgb(8, 2, 66); }
    }
    @keyframes playButton {
        from { 
            background-color: rgb(25, 0, 255);
            color: white; 
        }
        50% { 
            background-color: rgb(85, 153, 255);
            color: rgb(0, 0, 0); 
        }
        from { 
            background-color: rgb(25, 0, 255);
            color: white; 
        }
    }
